<!DOCTYPE html>
<html>
<head>
  <style>
    html{
      min-height: 100%;
    }
    body{
      background: linear-gradient(#93B874, #C9DCB9);
    }
  </style>
</head>
</html>
<head>
  <h1>CUS1166 Project</h1>
</head>
<body>
  <div class="container">
    <div class="mt-1">
      <h2>Course List</h2>
      <ul>
      {% for course in courses %}
        <li> <b>{{course.name}}<b> -- <i>{{course.content}}</i> </li>
      {% endfor %}
      </ul>
    </div>
    <div class="mt=1">
      <form action="{{url_for('add_course')}}" method="post">
        <input type="text" name="name" placeholder="Course Name">
        <input type="text" name="content" placeholder="Course Content">
        <button type="submit"> Add Course </button>
      </form>
    </div>
  </div>
</body>
