<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Form</title>
</head>
    <h4>On this page, you will able to create your own test.</h4>

    <h4>Test Questions </h4>
<body>
<form>
      <fieldset>
        <legend></legend>
        <p>
          <label>Question 1</label>
          <input type = "text"
                 id = "myText"
                 value = "" />
        </p>
        </fieldset>

        <fieldset>
            <p2>
            <label>Question 2</label>
          <input type = "text"
                 id = "myText2"
                 value = "" />
            </p2>
        </fieldset>

        <fieldset>
            <p3>
            <label>Question 3</label>
          <input type = "text"
                 id = "myText3"
                 value = "" />
            </p3>
        </fieldset>

   <input class="MyButton" onclick="window.location.href= 'testcreated.html'" type="button" value="Publish Test"/>
    <input class="MyButton" onclick="window.location.href= 'testformat.html'" type="button" value="Reset"/>

</form>

</body>
</html>