{% extends "base.html" %}

{% block content %}
<h1> Exam Creation Page</h1>
  <h3> Follow the instrcutions below to create your exam. </h3>
  <font color="red"> In the first box, enter the unique id for your exam. In the next, insert your desired questions in box, <b> seperated by commas. </b></font>
<div class="mt=1">
  <form action="{{url_for('view_exam')}}" method="post">
  Exam ID:<br>
  <input type="text" name="name" placeholder="First Exam, etc">
  <br>
  Desired Questions:<br>
  <input type="text" name="name" placeholder="1, 3, 5, 11, 15, etc">
  <br><br>
  <input type="submit" value="Submit">
</form>
</div>
{% for questions in Testbank %}
