{% extends "base.html" %}

{% block content %}
  <h1> Exam - TestID: {{test_id}}</h1>
  <div class="container">
    <div class="mt-1">
      <ul>
      {% for problems in questions %}
        <li> <b>Question: </b>{{questions.question}}</li>
        <form action="{{url_for('add_result')}}" method = "post">
          <input type="text" name="result" placeholder="Answer">
      {% endfor %}
      </ul>
    </div>
  <h2> Once you are finished, click Submit Test </h2>
  <button type="button" onlick="alert('Test submitted!')">Submit Test</button>
{% endblock %}
